fastapi
uvicorn
pydantic-settings
pydantic>=2.7.0
x402-tron[tron,fastapi] @ git+https://github.com/open-aibank/x402-tron@v0.1.6#subdirectory=python/x402
httpx

tronpy>=0.4.0
eth-account>=0.10.0

python-dotenv
